In [29]:
import pymongo
import certifi
import pandas as pd
import io as io
import requests
from datetime import datetime
from pytz import timezone
from dateutil import parser
from pandas import read_csv
from pandas import DataFrame
from pandas import Grouper
from matplotlib import pyplot
import pandas_datareader.data as web
# Libraries
import pandas as pd

usuário e senhas :

dimmy/dimmy /n
fernando/fernando
guilherme/guilherme

# 1. Criando conexão com o MongoDB.

#### 1.1 Para nos conectarmos ao nosso Mongodb, basta informar as credencias de conexão, exemplo : client = pymongo.MongoClient("mongodb+srv://Usuário:Senha@tera-b3.s6ih5.mongodb.net/?retryWrites=true&w=majority&socketTimeoutMS=360000&connectTimeoutMS=360000",tlsCAFile=certifi.where())

In [85]:
client = pymongo.MongoClient("mongodb+srv://alexp:NZuxobqKpBo079uX@terab3.s6ih5.mongodb.net/?retryWrites=true&w=majority&socketTimeoutMS=600000&connectTimeoutMS=600000",tlsCAFile=certifi.where())

#### 1.2 Db = Objeto com informações da nossa base de dados.

In [86]:
db = client.get_database('terab3')

#### 1.3 Collection = Objeto com informações da nossa collection, uma collection é um grupo de documentos, collection = tabela

In [87]:
collection = db.tickers_b3

# 2. Obtendo informações da B3, através do método DataReader

#### 2.1 O DataReader nos permite construir um dataframe utilizando várias fontes de dados através da internet de maneira prática, neste caso, estamos usando o YahooFinance

In [138]:
Ticker = ['VALE3.SA','ABEV3.SA','PETR4.SA','ITSA4.SA','BBDC4.SA']
for ticker in Ticker:
    df = web.DataReader(ticker, data_source='yahoo', start=f'03-01-2000', end=datetime.today().strftime('%m-%d-%Y'))
    data_b3_load = df
    data_b3_load = data_b3_load.reset_index(drop=False)
    data_b3_load.rename(columns = {'Date':'Timestamp'}, inplace = True)
    data_b3_load.fillna(0)
    ##data_b3_load['_id'] = data_b3_load.index
    data_b3_load.insert(0, '_id', range(22532, 22532 + len(data_b3_load)))
    data_b3_load['Ticker'] = ticker
    data_b3_dict = data_b3_load.to_dict('records')
    collection.insert_many(data_b3_dict)

# 3. Operaçao de Insert na collection "ticker_b3"

#### Antes de inserirmos os dados na nossa collection, precisamos transforma-lo em um dicionário

In [100]:
data_b3_dict = data_b3_load.to_dict('records')
collection.insert_many(data_b3_dict)

# 4. Consultando informações na nossa collection

In [141]:
collection.find_one({'Timestamp': parser.parse('2000-03-01')})

{'_id': 0,
 'Timestamp': datetime.datetime(2000, 3, 1, 0, 0),
 'High': 3.416666030883789,
 'Low': 3.3741660118103027,
 'Open': 3.4000000953674316,
 'Close': 3.416666030883789,
 'Volume': 244800.0,
 'Adj Close': 1.7532325983047485,
 'Ticker': 'VALE3.SA'}

In [106]:
start = datetime(2014, 9, 24, 7, 51, 4)

In [107]:
end = datetime(2014, 9, 24, 7, 52, 4)

### 4.1 Filtrando os documentos dentro da nossa collection, é necessário realizar a consulta dos campos na estrutura de um dicionário, como no exemplo abaixo
#### 4.2 No caso do campo 'TimeStamp', podemos selecionar um intervalo, então, utilizamos a sintáxe como no formato abaixo
##### 4.2.2 gte : Greater than or equal to & lt : Less Than

In [88]:
myList = []
VALE3 = collection.find({'Timestamp': {'$gte': parser.parse('2000-03-01'), '$lt': parser.parse(datetime.today().strftime('%m-%d-%Y'))},'Ticker' : 'VALE3.SA'})
PETR4 = collection.find({'Ticker' : 'PETR4.SA'})

#### 4.2 Transformamos o retorno ( um objeto chamado pymongo cursor ) em uma lista para posteriormente, transforma-la em um DataFrame

In [93]:
list_vale3 = list(VALE3)
list_petr4 = list(PETR4)

In [90]:
data_b3_vale3 = pd.DataFrame(list_vale3)
data_b3_petr4 = pd.DataFrame(list_petr4)

In [91]:
data_b3_vale3

,_id,Timestamp,High,Low,Open,Close,Volume,Adj Close,Ticker
0,0,2000-03-01,3.416666,3.374166,3.400000,3.416666,244800.0,1.753233,VALE3.SA
1,1,2000-03-02,3.333333,3.331666,3.333333,3.331666,624000.0,1.709616,VALE3.SA
2,2,2000-03-03,3.333333,3.290833,3.333333,3.290833,571200.0,1.688663,VALE3.SA
3,3,2000-03-06,3.290833,3.290833,3.290833,3.290833,0.0,1.688663,VALE3.SA
4,4,2000-03-07,3.290833,3.290833,3.290833,3.290833,0.0,1.688663,VALE3.SA
...,...,...,...,...,...,...,...,...,...
5628,5628,2022-07-27,70.620003,69.309998,69.970001,70.519997,21666900.0,70.519997,VALE3.SA
5629,5629,2022-07-28,71.970001,70.309998,71.459999,70.690002,21778700.0,70.690002,VALE3.SA
5630,5630,2022-07-29,70.320000,68.029999,69.669998,69.750000,77006600.0,69.750000,VALE3.SA
5631,5631,2022-08-01,69.849998,67.930000,68.940002,68.080002,38874000.0,68.080002,VALE3.SA
5632,5632,2022-08-02,70.470001,66.980003,68.330002,70.250000,32537600.0,70.250000,VALE3.SA

In [92]:
data_b3_petr4

,_id,Timestamp,High,Low,Open,Close,Volume,Adj Close,Ticker
0,11266,2000-03-01,5.875000,5.875000,5.875000,5.875000,2.382848e+10,2.627551,PETR4.SA
1,11267,2000-03-02,5.838000,5.838000,5.838000,5.838000,2.405376e+10,2.611003,PETR4.SA
2,11268,2000-03-03,6.038000,6.038000,6.038000,6.038000,1.321728e+10,2.700453,PETR4.SA
3,11269,2000-03-06,6.038000,6.038000,6.038000,6.038000,0.000000e+00,2.700453,PETR4.SA
4,11270,2000-03-07,6.038000,6.038000,6.038000,6.038000,0.000000e+00,2.700453,PETR4.SA
...,...,...,...,...,...,...,...,...,...
5628,16894,2022-07-27,31.469999,30.620001,31.299999,31.350000,5.609720e+07,31.350000,PETR4.SA
5629,16895,2022-07-28,32.630001,31.430000,31.590000,32.290001,1.149965e+08,32.290001,PETR4.SA
5630,16896,2022-07-29,34.660000,32.830002,33.599998,34.150002,1.814806e+08,34.150002,PETR4.SA
5631,16897,2022-08-01,34.150002,33.220001,34.000000,33.680000,8.136510e+07,33.680000,PETR4.SA
5632,16898,2022-08-02,34.500000,33.480000,33.770000,33.830002,6.873060e+07,33.830002,PETR4.SA